[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
mypy = "*"

[packages]
# required packages for PyPI
setuptools = "*"
wheel = "*"
twine = "*"
pandas = "*"
pyodbc = "*"

[requires]
python_version = "3.8"
